<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

  <display-name>HEM Alumni - AEMT 2020</display-name>

  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
	<!-- ADMIN PAGES -->
	<security-constraint>
		<display-name>Admin Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Management Admin Area</web-resource-name>
			<description></description>
			<url-pattern>/admin.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Profile Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Profile Area</web-resource-name>
			<description></description>
			<url-pattern>/profile.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Community Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Community Area</web-resource-name>
			<description></description>
			<url-pattern>/community.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Post Offer In Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Post Offer In Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_post_internship.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Post Offer J Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Post Offer J Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_post_job.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Post Offer router Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Post Offer router Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_post_router.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Search Offer In Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Search Offer In Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_search_internship.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Search Offer J Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Search Offer J Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_search_job.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Search Offer Router Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Search Offer Router Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_search_router.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Profile Editing Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Profile Editing Area</web-resource-name>
			<description></description>
			<url-pattern>/profile_editing.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Profile Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Profile Area</web-resource-name>
			<description></description>
			<url-pattern>/profile.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>1</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- USER PAGES -->
	<security-constraint>
		<display-name>Profile Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Profile Area</web-resource-name>
			<description></description>
			<url-pattern>/profile.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>0</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Community Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Community Area</web-resource-name>
			<description></description>
			<url-pattern>/community.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>0</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Post Offer In Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Post Offer In Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_post_internship.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>0</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Post Offer J Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Post Offer J Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_post_job.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>0</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Post Offer router Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Post Offer router Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_post_router.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>0</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Search Offer In Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Search Offer In Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_search_internship.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>0</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Search Offer J Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Search Offer J Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_search_job.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>0</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Search Offer Router Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Search Offer Router Area</web-resource-name>
			<description></description>
			<url-pattern>/offer_search_router.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>0</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Profile Editing Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Profile Editing Area</web-resource-name>
			<description></description>
			<url-pattern>/profile_editing.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>0</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Profile Pages</display-name>
		<web-resource-collection>
			<web-resource-name>Profile Area</web-resource-name>
			<description></description>
			<url-pattern>/profile.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>0</role-name>
		</auth-constraint>
	</security-constraint>
	
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>groupeB5Realm</realm-name>
    <form-login-config>
      <form-login-page>/login.xhtml</form-login-page>
      <form-error-page>/wrongAccess.xhtml</form-error-page>
    </form-login-config>
  </login-config>

  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>

  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>

</web-app>
